.content #firm_info{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	min-height:0px;
}


.content #firm_info #firm_info_image_container{
	float:right;
	width:330px;
	height:280px;
	border:1px solid transparent;/* #001a33;*/
	border-radius:5%;	
	overflow:hidden;
	margin-left:2%;
	margin-bottom:2%;
}

.content #firm_info #firm_info_image_container #firm_info_image{
	display:none;
}

.content #firm_info #firm_info_text{
	width:97%;
	text-align: justify;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:80%;	
	line-height:1.7;
}

.content #firm_info #firm_info_text .firm_info_heading{
	font-size:130%;
	font-weight:bold;
}
