.content .attorneys_bio{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

.content .attorneys_bio .attorney_bio{
	width:100%;
	min-height:370px;	
}

.content .attorneys_bio .attorney_bio .attorney_bio_image_container{
	float:left;
	width:280px;
	height:330px;
	border:0px solid #001a33;
	border-radius:5%;	
	overflow:hidden;
	margin-right:2%;
	margin-bottom:2%;
}

.content .attorneys_bio .attorney_bio .attorney_bio_image_container .attorney_bio_image{
	display:none;
}

.content .attorneys_bio .attorney_bio .attorney_bio_text{
	/*float:left;*/
	width:97%;
	/*height:90%;*/
	text-align: justify;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:80%;	
	line-height:1.7;
	/*padding-left:15px;*/
	/*border:1px dotted red;*/
	visibility:hidden;
}

.content .attorneys_bio .attorney_bio .attorney_bio_text .attorney_name_title{
	font-size:130%;
	font-weight:bold;
}




.content .content_attorney_profile{
	
}
