
.content #blog_inner{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;	
	margin-bottom:40px;
	min-height:200px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;	
	line-height:1.7;
	overflow:hidden;
	/*border:1px solid red;*/
}

.content #blog_inner #no_blogs{
	width:100%;
	margin:auto;
	margin-top:80px;
	font-size:100%;
	text-align:center;
	font-style:italic;
}

.content #blog_inner #blog_squares{
	width:100%;
	margin:auto;
	overflow:hidden;
	/*border:1px dotted red;*/
}

.content #blog_inner #blog_squares .blog_square{
	margin-top:40px;
	box-shadow: -20px 10px 30px #e6f2ff; /*#f2f2f2;*/
	/*border:1px dotted red;*/
}

.content #blog_inner #blog_squares .blog_square .blog_date{
	width:100%;
	margin-top:5px;
	margin-bottom:4px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:80%;
}

.content #blog_inner #blog_squares .blog_square .blog_img_container{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	/*border:1px dotted red;*/
}

.content #blog_inner #blog_squares .blog_square .blog_img_container .blog_img{
	display:none;
}

.content #blog_inner #blog_squares .blog_square .blog_line{
	width:90%;
	height:0px;
	margin-top:8px;
	margin-left:auto;
	margin-left:auto;
	border-top:1px solid #e6f2ff;	
}

.content #blog_inner #blog_squares .blog_square .blog_read_more_link{
	display:block;	
	text-decoration: none;
	margin-top:8px;
	margin-left:auto;
	margin-left:auto;
	text-align:center;
	color:#001a33;
	text-decoration:none;
	font-weight:bold;
}

.content #blog_inner #blog_squares .blog_square .blog_read_more_link:hover{
	color:#ba2d8b;
}

.content #blog_inner #blog_squares .blog_square .blog_title{
	display:block;
	width:80%;
	margin-top:8px;
	margin-left:auto;
	margin-right:auto;	
	font-size:140%;
	line-height:1.2;
	text-align:center;
	color:#001a33;
	text-decoration: none;
	/*border:1px dotted red;*/
}

.content #blog_inner #blog_squares .blog_square .blog_title:hover{
	color:#0099e6;
}

.content #blog_inner #blog_squares .blog_square .blog_truncated_txt{
	width:95%;
	margin-top:8px;
	margin-left:auto;
	margin-left:auto;	
}

.content #blog_inner .pagination_tab{
	float:right;
	margin-top:30px;
	min-width:0px;
	border-radius:5%;
	/*border:1px solid #001a33;*/
}


.content #blog_inner .pagination_tab .pagination_next{
	padding-left:5px;
}

.content #blog_inner .pagination_tab .pagination_previous{
	padding-right:5px;
}

.content #blog_inner .pagination_tab .pagination_direction{
	float:left;	
	cursor:pointer;	
	/*border:1px solid black;*/
}

.content #blog_inner .pagination_tab .pagination_direction span{
	height:40px;/*Should be same as pagination slot*/	
	display:inline-block;
    display:table-cell;
    vertical-align:middle; 	
	color:#ba2d8b;
	font-size:110%;
}


.content #blog_inner .pagination_tab .pagination_slots{
	/*display:inline-block;*/
	float:left;
	/*border:1px solid red;*/
}

.content #blog_inner .pagination_tab .pagination_slots .pagination_slot{
	display:inline-block;
	width:40px;
	height:40px;
	/*margin-left:20px;*/
	border-radius:50%;
	color:#ffffff;
	font-size:120%;
	text-align:center;
	cursor:pointer;
    display:table-cell;
    vertical-align:middle; 	

}

.content #blog_inner .pagination_tab .pagination_slots .pagination_slot:hover{
	background-color:#00264d;	
}

.content #blog_inner .pagination_tab .pagination_slots .highlighted_slot{
	background-color:#00264d;	
}

.content #blog_inner .pagination_tab .pagination_slots .unhighlighted_slot{
	background-color:#ba2d8b;	
}

.content #blog_inner .pagination_tab .pagination_slots .hidden_page{
	display:none;
}

.content #blog_inner .pagination_tab .pagination_slots .unhidden_page{
	
}

.invis{
	visibility: hidden;
}