
a{
	text-decoration:none;
	color:blue;/*Always blue visited or not*/
}


/*.sub_menu:hover{color:#2d73b9}

.sub_menu_parent:hover{background-color:rgba(255,255,255,0.86);}

.main_menu:hover{background-color:rgba(255,255,255,0.86);color:#2d73b9}*/

div{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;      
}


ul {
	list-style-type: none; 
}


a img {
	border: none;
}

form fieldset input{
	box-sizing:border-box;/*Contains input in its container fieldset*/
}

/*Document should fill entire browser window and be stretchable*/
html{
	/*min-height:100%;*/
	height:100%;
}

textarea{
	resize:none;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 	
}

/*
.ui-state-focus {
	background: none !important;
	background-color: blue !important;
	border: none !important;
}*/


.body{
	width:100%;
	height:100%;
    margin:0px;
    background: #none;
	overflow-x:hidden;
}

/*.clear{background-color: #0000ff;
  width:100%;
  height:3px;
  border:none;
  clear:both;
  display:block; 
  line-height:0%;
}*/

.bulletin{
	overflow:hidden;
	background-color:rgb(0, 26, 51);	  	
}

.bulletin h1{
	/*position:relative;top:10%;*/
	text-align:center;
	width: fit-content;
	margin:auto;
	margin-top:0%;
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	color:rgb(204, 163, 0);
}

.bulletin h3{
	/*position:relative;top:20%;*/
	text-align:center;
	width: fit-content;
	margin:auto;
	margin-top:0%;
	line-height:1.3;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	color: rgb(255, 255, 255);	
}

.bulletin a{
	/*position:relative;top:20%;*/
	display:block;
	text-align:center;
	width: fit-content;
	margin:auto;
	margin-top:0%;
	line-height:1.3;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	font-size:110%;
	color: rgb(255, 255, 255);	
	cursor:pointer;
}


.content{
	background-color : none;
	margin:0px auto;
	min-height:0px;
	/*min height set in dimensions.js should be document height - header height*/
	width:100%;
	
	/*position:relative;*/
	top:0px;
	/*border:1px dotted blue;*/
	overflow-x:hidden;
}

.content .attorneys_bio{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

.content .attorneys_bio .attorney_bio{
	width:100%;
	min-height:370px;	
}

.content .attorneys_bio .attorney_bio .attorney_bio_image_container{
	float:left;
	width:280px;
	height:330px;
	border:0px solid #001a33;
	border-radius:5%;	
	overflow:hidden;
	margin-right:2%;
	margin-bottom:2%;
}

.content .attorneys_bio .attorney_bio .attorney_bio_image_container .attorney_bio_image{

}

.content .attorneys_bio .attorney_bio .attorney_bio_text{
	/*float:left;*/
	width:97%;
	/*height:90%;*/
	text-align: justify;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:80%;	
	line-height:1.7;
	/*padding-left:15px;*/
	/*border:1px dotted red;*/
}

.content .attorneys_bio .attorney_bio .attorney_bio_text .attorney_name_title{
	font-size:130%;
	font-weight:bold;
}




.content .content_attorney_profile{
	
}

.content .content_banner{
	/*width set in rebuild content*/
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	height:95px;
	background-color:rgb(0, 38, 77);
}

.content .content_banner .top_heading{
	width:100%;
	height:50%;
	text-align:center;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:130%;	
	color:#ffffff;
}

.content .content_banner .top_heading span{
	display:inline-block;
	margin-top:20px;
}

.content .content_banner .bottom_heading{
	width:100%;
	height:50%;	
	text-align:center;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:110%;	
	color:#ffffff;
}

.content .content_banner .bottom_heading span{
	display:inline-block;
	margin-top:5px;
}

.content .disclaimer{
	/*width:95%;*/
	margin:auto;
	padding-top:40px;
	padding-bottom:25px;
	text-align:justify;
}                    
.content .disclaimer .disclaimer_heading{
	margin:auto;
	text-align:center;
	font-size:80%;
	line-height:1.2;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-style:italics;
	font-weight:bold;
	color:red;
}
.content .disclaimer .disclaimer_text{
	margin:auto;
	text-align:center;
	font-size:80%;
	line-height:1.2;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-style:italic;
	font-weight:normal;
	color:red;	
}


.content #firm_info{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	min-height:0px;
}


.content #firm_info #firm_info_image_container{
	float:right;
	width:330px;
	height:280px;
	border:1px solid transparent;/* #001a33;*/
	border-radius:5%;	
	overflow:hidden;
	margin-left:2%;
	margin-bottom:2%;
}

.content #firm_info #firm_info_image_container #firm_info_image{
	display:none;
}

.content #firm_info #firm_info_text{
	width:97%;
	text-align: justify;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:80%;	
	line-height:1.7;
}

.content #firm_info #firm_info_text .firm_info_heading{
	font-size:130%;
	font-weight:bold;
}






.dotted_line{
	width:100%;
	border-top:1px dotted black;
}


/*.content_proper{
	background-color:green;
	width:100%;
	margin:0px auto;
	position:relative;top:250px;
	min-height:400px;//Min height so it is stretchable and no scrollbars
}*/

.flap_header_parent{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	z-index:+11;	
	overflow-y:scroll;
	/*border:1px dotted blue;*/
	position:relative;left:0px;
}

.flap_header_transparent_sibling{
	float:left;
	width:60%;
	height:100%;
	background-color: rgba(255, 255, 255, 0);
}

.flap_header{
	float:left;
	width:40%;
	min-height:100%;
	background-color: #ffffff;
	/*border:1px dotted green*/
}

.flap_header_logo_box_parent{
	width:100%;
	/*background-color:red;*/
}

.flap_header .close_icon{
	display:inline-block;
	/*float:right;*/
	/*position:relative;top:7%;*/	
	text-align:center;
	/*border:1px dotted green;*/
}

.flap_header .close_icon i{
	font-size:260%;
	color:#00264d;
	cursor:pointer;
	/*text-shadow:0px 0px 0px #000000;*/
	text-align:center;
	position:relative;top:30%;
}

.flap_header .close_icon .close_label{
	position:relative;top:28%;	
}

.flap_header .menu_bar{
	/*Width set in rebuild menu bar*/
	/*border:1px solid green;*/
}

.flap_header .menu_bar .menu_item{
	/*background-color:blue;*/
}

.flap_header .menu_bar .menu_item a{	
	display:inline-block;
	border-top:1px solid #ffffff;
	overflow:hidden;/*counters padding*/
	/*background-color:red;*/	
}

/*Desktop footer*/
.footer{background-color :none;
	margin:0px auto;
	/*position:relative;
	top:0px;*/
	/*height:240px;*/
	min-height:0px; 
	width:100%;
	/*border-top:1px solid rgba(255,250,250,0.5);*/
	/*position:relative;
	top:0px;*/
	/*border:1px solid red;*/
}

.footer .footer_lower_half{
	margin:0px auto;
	width:100%;
	min-height:100px;
	/*background-color:#f2f2f2;*/
	background-color:#ffffff;
}


.footer .footer_lower_half .footer_contact_details_panel{
	/*border:1px dotted green;*/
	margin:auto;
}

.footer .footer_lower_half .footer_contact_details_panel .footer_contact_details{
	/*background-color:rgb(0, 26, 51);*/
	padding-left:15px;
	padding-right:15px;
	overflow-x:hidden;/*Counters padding*/
}

.footer .footer_lower_half .footer_contact_details_panel .footer_map_panel{
	/*border:1px solid green;*/
	/*background-color:red;*/
}

.footer .footer_lower_half .footer_mission_statement_panel{
	/*border:1px solid red;*/
	/*width:80%;
	margin:auto;*/
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement{
	overflow:hidden;
	/*border:1px solid red;*/
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement h1{
	/*text-align:left;*/
	/*width: fit-content;*/
	/*margin:auto;*/
	margin-top:0%;
	/*line-height:1.8;*/
	/*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
	/*font-weight:190;*/
	/*color: rgb(204, 163, 0);*/
	color:rgb(186, 45, 139);
	/*border:1px dotted blue;*/
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement h2{
	/*text-align:left;*/
	/*width: fit-content;*/
	/*margin:auto;*/	
	margin-top:8%;
	/*line-height:1.8;*/
	/*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
	/*font-weight:190;*/
	color: rgb(51, 51, 51);	
	/*border:1px dotted blue;*/	
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement h3 a{
	/*text-align:left;*/
	/*width: fit-content;*/
	/*margin:auto;*/	
	margin-top:8%;
	/*line-height:1.8;*/
	/*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
	/*font-weight:190;*/
	color: rgb(51, 51, 51);
	/*text-decoration: underline;*/
	/*padding-left:5%;
	padding-right:5%;*/
	/*border:1px dotted blue;*/
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement h5{
	/*text-align:left;*/
	/*width: fit-content;*/
	/*margin:auto;*/	
	margin-top:4%;
	/*line-height:1.8;*/
	/*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
	/*font-weight:190;
	color: rgb(51, 51, 51);*/		
	/*border:1px dotted blue;*/
	/*padding-left:5%;
	padding-right:5%;*/	
}

.footer .footer_lower_half .footer_mission_statement_panel .footer_mission_statement_picture{
	overflow:hidden;
	/*border:1px solid transparent;*/
}


.footer .footer_lower_half .marketing_panel{
	z-index:+1;
	/*width:60%;*/
	margin:auto;
	/*height:100px;Re-do in script*/
	/*border:1px dotted blue;*/
}

.footer .footer_lower_half .marketing_panel .marketing_panel_box{
	/*border:1px dotted red;*/
	background-color:#ffffff;
	box-shadow: -20px 10px 30px #f2f2f2;
}

.footer .footer_lower_half .marketing_panel .marketing_panel_box a{
	display:inline-block;
	/*border:1px solid yellow;*/
	width:100%;
	height:100%;
}

.footer .footer_lower_half .marketing_panel .marketing_panel_box a .marketing_panel_icon{
	/*background-color:green;*/
	display:block;
	text-align:center;
	
    /*display: flex;
    align-items: flex-end;	*/
	
	/*padding-bottom:0;*/
}

.footer .footer_lower_half .marketing_panel .marketing_panel_box a .marketing_panel_icon i{
	font-size:170%;
	font-weight:100;
	color:#00264d;
	text-shadow:0px 0px 0px #000000;
	/*display:table-cell;
	vertical-align:bottom;*/
	/*margin-bottom:0;*/
	/*border:1px solid red;*/



}

.footer .footer_lower_half .marketing_panel .marketing_panel_box a .marketing_panel_text{
	/*background-color:red;*/
	text-align:center;
	display:table-cell;/*For vertical alignment*/
	vertical-align: middle;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:150%;
	font-weight:100;
	color: rgb(51, 51, 51);		
}
/*[class^="icon-"], [class*=" icon-"] {

}*/
.footer .footer_lower_half .marketing_panel .marketing_panel_box a .marketing_panel_arrow{
	/*background-color:yellow;*/
    /*display: block;
    width: 100%;
	margin:auto;*/
	display:inline-block;
	text-align:center;
}

.footer .footer_lower_half .marketing_panel .marketing_panel_box a .marketing_panel_arrow i{
	/*background-color:yellow;*/
	/*display:inline-block;*/
	/*text-align:center;
    display: inline-block;*/
    /*width: 100%;
	margin:auto;*/
	/*display:block;
	width:10%;
	margin:auto;*/
	/*border:1px solid blue;*/
	font-weight:100;
	font-size:170%;
	color:#00264d;
	text-shadow:0px 0px 0px #000000;
}


.footer .footer_upper_half{
	margin:0px auto;
	min-height:0px;
	width:100%;
	/*min-height:100px;*/
	/*background-color:#e6e6e6;*/	
	background-color:#f2f2f2;
}

.footer .footer_upper_half .read_more{

	text-align:center;
	margin-top:50px;
}

.footer .footer_upper_half .read_more a{
	cursor:pointer;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:normal;
	font-size:150%;
	color:rgb(51, 51, 51);
	text-decoration: underline;

}

.footer .footer_upper_half .specialties_statements{
	width:100%;
	margin:auto;
	/*overflow:hidden;*/
	/*border:1px solid transparent;*/
}

.footer .footer_upper_half .specialties_statements .specialty_statement{
	width:80%;
	margin:auto;
	/*border:1px dotted red;*/
	/*display:none;*/
	min-height:700px;
	/*overflow:hidden;*/
}

.footer .footer_upper_half .specialties_statements .specialty_statement .specialty_statement_heading{
	/*border:1px dotted red;*/
	/*position:relative;top:20%;*/
	text-align:center;
	padding-top:25px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	/*color: rgb(230, 184, 0);*/	
	color:rgb(186, 45, 139);
}

.footer .footer_upper_half .specialties_statements .specialty_statement .specialty_statement_text{
	/*border:1px dotted red;*/
	/*position:relative;top:20%;*/
	/*text-align:center;*/
	line-height:1.8;
	padding-top:25px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;		
	font-weight:190;
	color: rgb(51, 51, 51);
	text-align: justify;
}



/*Desktop header*/
.header{
	/*background-color :rgba(255, 255, 255, 0);*/
	margin:0px auto;
	min-height:0px;
	overflow:hidden;/*Ensures header elements stay confined in header*/
	/*height:27%; *230px;*/
	/*width:100%;*/
	/*min-width:0px;*/
	/*border:none;*/
	/*border:2px solid green;*/
	/*border:1px dotted red;*/
	overflow:none;
	/*background-color:red;*/
	/*border:4px dotted green;background:red;*/
}

.homepage_top_header{
	/*background-color :rgba(255, 255, 255, 0);*/
}

.header .header_core{
	margin:0px auto;
	min-height:0px;
	/*height:100%;*/
	/*width:60%;*/
	/*margin:auto;*/
	/*margin-top:1.5%;*/
	/*background-color:black;*/
	/*border:1px dotted red;*/
	/*border:1px dotted blue;*/
	/*background-color:blue;*/
}


.header .header_core .header_banner{
	/*border:1px solid green;*/
	/*float:left;*/
}

.header .header_core .header_banner .header_banner_right_box{
	position:relative;top:20%;
	float:right;
	width:70%;
	/*border:1px solid green;*/
}

.header .header_core .header_banner .header_banner_text{
	/*border:1px dotted red;*/
	/*position:relative;top:20%;*/
	
	/*text-align:right;*/
	padding-right:30px;
	padding-top:5px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(204, 163, 0, 1.0);
}

.header .header_core .header_banner .phone_num{
	font-size:large;
}


.header .logo_box{
	background-color:#ffffff;
	/*border:1px solid red;*/
	/*background-color:yellow;*/
	/*float:left;*/
	border-radius:50%;
}

.header .logo_box .logo_circle{
	background-color:none;
	/*margin:auto;
	width:90%;
	height:90%;*/
	border-radius: 50%;
	overflow:hidden;
}

.header .logo_box .logo_circle .logo_image{
	display:none;
}

.header .menu_bar{
	overflow:hidden;/*Offsets any padding issues*/
	/*border:1px dotted green;*/
}

.header .menu_bar .menu_item{
	/*background-color:blue;*/
	/*border:1px dotted blue;*/
}

.header .menu_bar .menu_item .menu_item_anchor{
	display:inline-block;
	text-align:center;
	/*background-color:red;*/
	/*border:1px dotted red;*/
}

.top_menu_bar{
	/*display:none;*//*Prevents the unrpocessed menu bar from flickering b4 page fully loads*/
}

.header .menu_icon{
	/*display:none;*/
	display:block;
	/**/
	position:relative;top:7%;
	text-align:center;
	/*background-color:red;*/
	/*border:1px dotted green;*/
}

.header .menu_icon i{
	cursor:pointer;
	position:relative;top:20%;
	font-size:350%;
	color:#00264d;
	text-shadow:0px 0px 0px #000000;
}

.header .menu_icon .menu_label{
	position:relative;top:20%;
	font-size:120%;
	color:#00264d;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
/*.header .inner_header .menu_bar{
	float:left;
}

.header .inner_header .menu_bar div{
	float:left;
}

.header .inner_header .menu_bar a{
	//padding-right:30px;
	//padding-top:5px;
	font-family: Arial, Helvetica, sans-serif;
	color:rgb(0, 26, 51);
	font-size:18px;
	font-weight:bold;
}*/

/*.header .outer_inner_header{
	height:100%;
	width:100%;
	margin:0px auto;
}*/

.header.stick{
	position: fixed;
	top: 0;
	z-index: 100;
}

.homepage_background_image{
	display:none;
	/*Width and height set in dimenstions.js*/
}


.menu_bar{
	/*float:left;*/
}

.menu_bar div{
	float:left;
}

.menu_bar a{
	/*padding-right:30px;
	padding-top:5px;*/
	font-family: Arial, Helvetica, sans-serif;
	/*color:rgb(0, 26, 51);*/
	/*font-size:18px;*/
	font-size:0.9em;
	font-weight:bold;
}

.our_h1{
	/*position:relative;top:8%;*/
	padding:0;
	margin:0;/*Padding and margin set to 0 to prevent spaces in ancestors*/
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:100%;
	/*font-weight:390;*/
	color: rgb(51, 51, 51);	
	/*overflow:hidden;
	border:1px solid red;*/
}

.our_h2{
	/*position:relative;top:8%;*/
	padding:0;
	margin:0;/*Padding and margin set to 0 to prevent spaces in ancestors*/
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	/*font-weight:190;*/
	font-size:100%;
	/*color: rgb(230, 184, 0);*/
	color: rgb(204, 163, 0);
	/*overflow:hidden;*/
border:1px solid red;	
}

.our_h5{
	/*position:relative;top:8%;*/
	padding:0;
	margin:0;/*Padding and margin set to 0 to prevent spaces in ancestors*/
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	/*font-weight:190;*/
	font-size:50%;
	color: rgb(51, 51, 51);	
	/*overflow:hidden;*/
	border:1px solid red;
}


.screen{
	display:none;
	position:fixed;
	margin:auto;
	background-color :rgba(0, 0, 0, 0.8);
	width:100%;
	height:100%;
	z-index:+10;
}

.social_media_panel{
	z-index:+2;
	/*background-color:#ffffff;*/
	/*border:1px solid green;*/
}

.left_social_media_panel{
	width:50px;
	min-height:0px;
	position:fixed;top:20%;
}

.bottom_social_media_panel{
	width:80%;
	height:5%;
	position:fixed;top:93%;left:10%;/*top:100% - height  left:half(100% - width)*/
	z-index:+2;
}

.social_media_panel .fa{
	display:inline-block;
	text-align: center;
	text-decoration: none;	
	height:40px;
	padding-top: 13px;/*Depends on heihgt and font size*/
}

.left_social_media_panel .fa{
	width:100%;
	font-size:30px;
}

.bottom_social_media_panel .fa{
	width:25%;/*Depends on num of icons*/
	font-size:30px;
	margin: 0px -2px;/*ver, hor  By defualt hor = 0 leaves a 2 px padding. So use -2 to clear padding*/
}

.social_media_panel .fa:hover {
    /*opacity: 1.0;*/
}

.left_social_media_panel .fa:hover {
	width:125%;
}

.bottom_social_media_panel .fa:hover {
	/*height:40px;
	margin: -40px -2px;*/
}

.social_media_panel .fa-facebook {
	background: #43609c;
	/*background: #3B5998;*/
	color: white;
}

.social_media_panel .fa-twitter {
	background: #1DA1F2;
	/*background: #66ccff;*/
	/*background: #55ACEE;*/
	color: white;
}

.social_media_panel .fa-google {
	background: #db4a39;
	/*background: #ff3333;*/
	/*background: #dd4b39;*/
	color: white;
}

.social_media_panel .fa-linkedin {
	background: #0e76a8;
	/*background: #0099cc;*/
	/*background: #007bb5;*/
	color: white;
}


.statements h1{
	/*text-align:left;*/
	width: fit-content;
	/*margin:auto;*/
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	/*border:1px dotted blue;*/
}

.statements h2{
	/*text-align:left;*/
	width: fit-content;
	/*margin:auto;*/	
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;	
	/*border:1px dotted blue;*/	
}

.statements h3 a{
	/*text-align:left;*/
	width: fit-content;
	/*margin:auto;*/	
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	text-decoration: underline;
	/*padding-left:5%;
	padding-right:5%;*/
	/*border:1px dotted blue;*/
}

.statements h5{
	/*text-align:left;*/
	width: fit-content;
	/*margin:auto;*/	
	margin-top:4%;
	line-height:1.8;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:190;
	color: rgb(51, 51, 51);		
	/*border:1px dotted blue;*/
	/*padding-left:5%;
	padding-right:5%;*/	
}

/*#header-nav .header-nav-list .nav-down-img{
  
  cursor:pointer;
}

#header-nav .header-nav-list .nav-up-img{
  cursor:pointer;
}*/

/*Desktop main btw header and footer*/

/*#left-sidebar{
  float:left;
  min-height:1px;
  width:24%;
  -moz-border-radius: 5px; 
  border-radius:5px;
  border:none;
  position:relative;
  left:5px;
  background:none;
}*/


	

/*#right-sidebar{
  float:left;
  min-height:1px;
  width:20%;-moz-border-radius: 5px; 
  border-radius:5px;border:none;
  position:relative;
  left:10px;
  background:none;
}*/

#bar1{
	height:20px;
	background:green;
}
#bar2{
	height:20px;
	background:yellow;
}



/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00264d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ba2d8b; 
}




/*To achieve a consistent result cross browser, you would usually add another div inside the div and give that no explicit width, and a margin. The margin will simulate padding for the outer div.*/

