.content #practice_areas_inner{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;	
	margin-bottom:40px;
	min-height:200px;

	overflow:hidden;
	/*border:1px solid red;*/
}



.content #practice_areas_inner #practice_areas_intro{
	width:100%;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	min-height:0px;
}

.content #practice_areas_inner #practice_areas_intro #intro_image_container{
	float:right;
	width:360px;
	height:280px;
	border:1px solid transparent;/* #001a33;*/
	border-radius:5%;	
	overflow:hidden;
	margin-left:2%;
	margin-bottom:2%;
}

.content #practice_areas_inner #practice_areas_intro #intro_image_container #intro_image{
	display:none;
}

.content #practice_areas_inner #practice_areas_intro #intro_text{
	width:97%;
	text-align: justify;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:100%;	
	line-height:1.7;
}

.content #practice_areas_inner #practice_areas_intro .intro_heading{
	font-size:130%;
	color:rgb(186, 45, 139);
	font-weight:bold;
}



.content #practice_areas_inner .practice-areas-text{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;	
	line-height:1.7;
	text-align: justify;
}


.content #practice_areas_inner .practice_areas_heading{
	margin-top:40px;
	margin-bottom:10px;
	text-align:center;
	padding-top:25px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight:bold;	
	font-size:150%;
	color:rgb(186, 45, 139);
}